* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p {
  margin: 0;
  padding: 0;
}

body {
  color: #4D4D4D;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  position: relative;
  background-color: #F7F7F7;
}

header {
  position: relative;
  z-index: 99;
}

.header_top {
  background: #FFFFFF;
  padding: 20px 10px;
}

.header_bottom {
  background: #F7F7F7;
  border-bottom: 1px solid #E0E0E0;
}

.header_bottom .nav-link {
  font-size: 14px;
  color: #4D4D4D;
}

.header_bottom .dropdown-item {
  font-size: 14px;
  color: #4D4D4D;
}

.search-form {
  position: relative;
  width: 100%;
}

.search-form input {
  padding: 5px 15px;
  padding-right: 50px;
  background: lighten(black, 97%);
  border: none;
  height: 55px;
  border: 1px solid gray;
}

.search-form span {
  position: absolute;
  display: flex;
  width: 30px;
  height: auto;
  top: 40%;
  right: 10px;
}

header .btn-outline-secondary {
  height: 55px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* For Drop Down */
@media all and (min-width: 992px) {
  .dropdown-menu li {
    position: relative;
  }

  .nav-item .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
  }

  .nav-item .submenu-left {
    right: 100%;
    left: auto;
  }

  .dropdown-menu>li:hover {
    background-color: #f1f1f1
  }

  .dropdown-menu>li:hover>.submenu {
    display: block;
  }
}

/* ============ small devices ============ */
@media (max-width: 991px) {
  .dropdown-menu .dropdown-menu {
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    margin-bottom: .5rem;
  }
}

.side_content {
  position: absolute;
  width: 300px;
  background: #FFFFFF;
  top: 0;
  height: 100%;
  border-right: 1px solid #E0E0E0;
  padding: 20px;
  padding-top: 185px;
}

.aside_title {
  font-size: 14px;
  font-weight: 400;
  color: #777777;
}

/* Page Content */
.page_content {
  padding-left: 340px;
  width: 100%;
  padding-right: 40px;
}

.ctPage_head {
  background: #1D6262;
  padding: 20px;
  border-radius: 10px;
  color: #FFFFFF;
}

.ctPage_head h6 {
  font-weight: 400;
  font-size: 20px;
}

.ctPage_head h2 {
  font-size: 42px;
  font-weight: 700;
  padding-bottom: 15px;
}

.ctPage_head p {
  font-size: 20px;
  max-width: 630px;
  width: 100%;
}

.rgCart {
  box-shadow: 0px 1px 4px 0px #0C0C0D0D;
  box-shadow: 0px 1px 4px 0px #0C0C0D1A;
  border-radius: 20px;
  padding: 28px;
  background: #FFFFFF;
}

.rgHead h3 {
  padding-bottom: 15px;
  font-size: 20px;
  color: #2D2D2D;
  font-weight: 700;
}

.rgHead p {
  max-width: 580px;
  width: 100%;
  padding-bottom: 30px;
  color: #2D2D2D;
}

.rgCart p {
  font-size: 16px;
  color: #2D2D2D;
}

.rgWidget h4 {
  font-size: 14px;
  font-weight: 700;
  color: #2D2D2D;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.rgWidget ul li a {
  display: block;
  padding-bottom: 8px;
  color: #1D6262;
  transform: scale(1);
  transition: .2s all ease;
}

.rgWidget ul li a:hover {
  color: #2D2D2D;
  text-decoration: underline;
}

/* Footer */
footer {
  background: #2D2D2D;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 340px;
}

.ftNav {
  display: flex;
  align-items: center;
  column-gap: 30px;
  list-style-type: none;
  padding-bottom: 20px;
}

.ftNav li {
  position: relative;
  z-index: 1;
}

.ftNav li::before {
  position: absolute;
  content: "|";
  left: -14px;
  top: 2px;
  font-size: 16px;
  height: 20px;
  width: 2px;
  color: #FFFFFF;
}

.ftNav li:first-child::before {
  display: none;
}

.ftNav a {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #FFFFFF;
  letter-spacing: 0px;
  display: block;
  padding: 4px;
  transition: .2s all ease;
  transform: scale(1);
}

.ftNav a:hover {
  color: #1D6262;
}

.ftNav a:active {
  color: #1D6262;
  transform: scale(.95);
}

.ftLeft p {
  font-weight: 600;
  color: #FFFFFF;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0px;
}

.ftRight {
  text-align: right;
  color: #FFFFFF;
}

.ftRight h5 {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0px;
}